
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
body{
    background-color: blueviolet;
    color: cornsilk;
    font-family: monospace;
    margin: 5px;

}

a:link, a:visited{
    color: cornsilk;
    font-size: large;
}

img{
    width: 20px;
    margin-right: 10px;
}

table{
    width: 100%;
    text-align: center;
}

table td{
    width: 20%;
}

table tr:first-child{
    background-color: floralwhite;color: purple;font-weight: bolder;
}

.pagina-inicial a{
    text-decoration: none;
    font-size: 1rem;
    position: absolute;
    left: 10rem;
    top: 1rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.85%);
    background-color: rgb(110, 42, 179);
    border-radius: 5px;
    padding: 5px;
    transition: background-color .4s;
}

 .pagina-inicial a:hover{
    background-color: rgb(161, 69, 247);
}

h1 a {
    text-decoration: none;
    font-size: 5rem;
    font-family: 'Nunito', sans-serif;
}