<H1><a href="/">CRUD NODE</a></H1>
<hr>
<h2>Dados inseridos com sucesso!</h2>

<script>            
    function toBack() {
  setTimeout(function(){location.assign("/") }, 1000);
}     
toBack()
</script>   