<H1><a href="/">CRUD NODE</a></H1>
<hr>
<h1>Dados deletados...</h1>
<p>Redirecionando << </p>

<script>
        function toBack() {
  setTimeout(function(){location.assign("/select") }, 1000);
}     
toBack()
</script>