<H1>CRUD NODE</H1>
<hr>
<form action="atualiza" method="post" name="form2">
    <input type="hidden" name="id"   placeholder="id" value="{{id}}"><br>
    <input type="text" name="name"   placeholder="name" value="{{name}}"><br>
    <input type="number" name="age"   placeholder="age" value="{{age}}"><br>
    <input type="submit" name="btnsubmit" id="btnsubmit" value="Update"> 

</form>